<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <img src="img/paw.png" class = "cat-paw" alt="cat paw" />
    <div class="list card">

      <div class="item item-divider">Hi there <b><span ng-bind="auth.profile.given_name"></span></b></div>
      <div class="item item-body">
        <div>
            You have joined ChatCat comunity <br/>

        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Find a person</div>
      <div class="item item-body">
        <div>
          

        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
